
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Die Styles.css muss aus allen HTML-Datein verlinkt werden-->
    <link rel="stylesheet" type = "text/css" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
    <title>Bankseite</title>
<body>
<header>
    <div class="container">
        <img src="bank.jpg" alt="Logo der Bank" class="logo">
            <a href= "hilfe.html"><i class="fa-solid fa-phone"></i>Hilfe</a>
            <a href="postfach.webp"><i class="fa-solid fa-phone"></i>Postfach</a>
            <a href="profil.html"><i class="fa-solid fa-user"></i>Profil</a>
            <a href="AGB"><i class="fa-solid fa-user"></i>agb</a>
</header>

<div class="flex-container">
    <h1>Willkommen bei Ihrer Bakir Bank </h1>
    <div><a href="Kontoübersicht.html">Kontoübersicht</a></div>
    <div><a href="Überweisen.html">Überweisen</a></div>
    <div><a href="Geldanlegen.html">Geld anlegen</a></div>
    <div><a href="Kreditbeantragen.html">Kredit beantragen</a></div>
</div>

<footer>
    <div class="container">
        <p>Social Media</p>
        <p><a href="https://bankhomepage.de">Bank-Homepage</a></p>
        <p>Geschäftsführerin: Zeyneb Bakir</p>
        <p>Geschäftssitz: Düsseldorf</p>
        <p>Rechtsform: GmbH</p>
    </div>
</footer>

</body>
</html>