<!--HTML-Grundgerüst über die Eingabe von HTML und dann html: 5 auswählen-->
<!DOCTYPE html>
<html lang="en"
<head>
    <meta charset="UTF-8"
    <meta name="viewport" content="width=device.width, intial-scale1.0">                              
    <title> BakirBank - Login</title>
</head> 

<body>
    <!--Der Header soll die Seite strukturieren und bekommt entsprechende Styles zugewiesen-->
    <header> 
        <h1>Herzlich  Wilkommen bei der BakirBank</h1>
    </header>
<!--Formularfelder (Textboxen, Button etc..)-->
    <form>
        
        <label>Benutzername</label><br>
        <input><br>
        <label>Kennwort</label><br>
        <input type="password"<br>
        <button>Einloggen</button>
    </form>
    <footer>
        &#169; 2024 BakirBank AG 
    </footer>
</body>
</html>